html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  /*background: linear-gradient(to bottom, transparent, #fff) #eceeef;*/
}

p {
  margin: 0;
}
